@import "../../scss/variables";
@import "../../scss/mixins";

.filter {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 9px 18px;
  height: 40px;

  color: $color-fucsia-darken;
  font-family: $font-montse;
  font-size: $font-size-16;

  border-radius: 24px;
  border: 1px solid $color-fucsia;
  background: $color-white;

  @include mq($bp-tablet) {
    font-size: $font-size-20;
    padding: 12px 24px;
  }

  &--active {
    background-color: $color-fucsia;
    color: $color-white;
  }

  &:hover {
    box-shadow: 1px 1px 1px $color-fucsia;
    border: 2px $color-fucsia solid;
  }
}
