@import "../scss/variables";
@import "../scss/mixins";

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.header {
  &__titles {
    display: flex;
    flex-direction: column;
    margin-top: auto;

    &__subtitle {
      font-weight: $font-weight-lighter;
    }
  }

  &__p {
    margin-bottom: 2rem;
    max-width: 130rem;
  }

  &__links {
    display: flex;
    gap: 1.2rem;
    margin-bottom: 8.4rem;

    @include mq($bp-tablet) {
      gap: 4.8rem;
      margin-bottom: 6rem;
    }

    @include mq($bp-small-desktop) {
      gap: 4.8rem;
      margin-bottom: 6rem;
    }

    @include mq($bp-desktop) {
      margin-bottom: 8.4rem;
    }
  }
}

.dropdowns {
  display: flex;
  flex-direction: column;

  @include mq($bp-small-desktop) {
    display: grid;
    grid-template-columns: repeat(
      3,
      1fr
    ); // Divide el espacio en tres columnas iguales

    grid-gap: 4.8rem;
  }
}
