@import "../scss/variables";
@import "../scss/mixins";

.nav {
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.header {
  &__titles {
    display: flex;
    flex-direction: column;
    margin-top: auto;

    &__subtitle {
      font-weight: $font-weight-lighter;
    }
  }

  &__p {
    margin-bottom: 2rem;
    max-width: 130rem;
  }

  &__links {
    display: flex;
    gap: 1.2rem;
    margin-bottom: 4.8rem;

    @include mq($bp-small-tablet) {
      gap: 2.4rem;
      margin-bottom: 4.8rem;
    }

    @include mq($bp-small-desktop) {
      gap: 4.8rem;
      margin-bottom: 8.4rem;
    }

    @include mq($bp-desktop) {
      margin-bottom: 9.6rem;
    }
  }
}
