@import "../scss/variables";

.sg {
  &__body {
    margin: 30px;
    padding: 30px;
    background-color: $background-color-color-grey;
  }

  &__colorandtypo {
    display: flex;
    gap: 24px;
  }

  &__color-palette,
  &__typo {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__pink-section,
  &__grey-section {
    display: flex;
    gap: 10px;
  }

  &__color-box {
    width: 100px;
    height: 100px;
    border-radius: 100px;
  }

  &__color {
    &-fucsia-darken {
      background-color: $color-fucsia-darken;
      border: 1.5px $color-black solid;
    }

    &-fucsia {
      background-color: $color-fucsia;
      border: 1.5px $color-black solid;
    }

    &-black {
      background-color: $color-black;
      border: 1.5px $color-black solid;
    }

    &-grey {
      background-color: $color-grey;
      border: 1.5px $color-black solid;
    }

    &-white {
      background-color: $color-white;
      border: 1.5px $color-black solid;
    }
  }

  &__typo--headers {
    font-family: $font-montse;
    // line-height: 62px;

    & h2 {
      margin-bottom: 4px;
    }

    & h3 {
      margin-bottom: 6px;
    }

    & h4 {
      margin-bottom: 8px;
    }

    & h5 {
      margin-bottom: 10px;
    }
  }

  &__mylinks {
    display: flex;
    margin: 1rem 2.4rem 1rem 2.4rem;
    padding: 2.4rem;

    &-btn {
      display: flex;
      align-items: baseline;
      gap: 24px;
    }
  }
}
