/*-----mapa y loop de colores---*/
$colors: (
  "fucsia": $color-fucsia,
  "fucsia-darken": $color-fucsia-darken,

  "black": $color-black,
  "grey": $color-grey,
  "white": $color-white,
);

@each $color, $i in $colors {
  .color-#{$color} {
    color: $i;
  }
}

/*----fuentes----*/

$fonts: (
  "gruppo": $font-gruppo,
  "montse": $font-montse,
);

@each $font, $i in $fonts {
  .font-#{$font} {
    font-family: $i;
  }
}
