html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  // background-color: rgb(242, 242, 187);
  // display: flex;
  // flex-direction: column;
  // align-items: center;
}

::selection {
  background-color: $color-selection;
  color: $color-black;
}
