html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  // background-color: rgb(242, 242, 187);
  margin: 0;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;

  @include mq($bp-small-tablet) {
    max-width: 88%;
  }

  @include mq($bp-tablet) {
    max-width: 86%;
  }

  @include mq($bp-small-desktop) {
    max-width: 84%;
  }

  @include mq($bp-desktop) {
    max-width: 82%;
  }
}

::selection {
  background-color: $color-selection;
  color: $color-black;
}
