.m-none {
  margin: 0;
}

.m-sections {
  margin-top: 2.4rem;
  margin-bottom: 2.4rem;
  margin-left: auto;
  margin-right: auto;

  @include mq($bp-small-tablet) {
    margin-top: 4.8rem;
    margin-bottom: 4.8rem;
  }

  @include mq($bp-small-desktop) {
    margin-top: 8.4rem;
    margin-bottom: 8.4rem;
  }

  @include mq($bp-desktop) {
    margin-top: 14.8rem;
    margin-bottom: 14.8rem;
  }
}

section {
  background-color: rgb(149, 209, 149);
}
