/*---VARIABLES DE COLOR---*/

/*----colores---*/

$color-selection: #f9e998; // 5bb9a1

$color-fucsia: #f300b4;
$color-fucsia-darken: #dd00a1;

$color-black: #252525;
$color-grey: #efefef;
$color-white: #ffffff;

/*----Variables de color para BG----*/

$background-color-color-fucsia: #f300b4;
$background-color-color-fucsia-darken: #dd00a1;

$background-color-color-black: #252525;
$background-color-color-grey: #efefef;
$background-color-color-white: #ffffff;

/*---tipos de fuente---*/

$font-gruppo: "Gruppo", sans-serif;
$font-montse: "Montserrat", sans-serif;

/*----tamaños de fuente---*/

$font-size-14: 1.4rem;
$font-size-16: 1.6rem;
$font-size-18: 1.8rem;
$font-size-20: 2rem;
$font-size-24: 2.4rem;
$font-size-32: 3.2rem;
$font-size-40: 4rem;
$font-size-42: 4.2rem;
$font-size-48: 4.8rem;
$font-size-60: 6rem;
$font-size-84: 8.4rem;
$font-size-120: 12rem;

/*----pesos de fuente----*/

$font-weight-black: 800;
$font-weight-bold: 700;
$font-weight-semibold: 600;
$font-weight-medium: 500;
$font-weight-regular: 400;
$font-weight-lighter: lighter;
